body.EXTENSION{
    width: 300px;
}



.copy-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.relative{
    position: relative;
    display: flex;
    align-items: center;
}

.pass-preview{
    background-color: #444;
}

#passPreview{
    white-space: normal;
    overflow-wrap: break-word;
}

#masterPass{
    padding-right: 40px;
}

.floatingIcon{
    position: absolute !important;
    right: 7px;
    cursor: pointer !important;
}

.hideElm{
    display: none;
}

textarea:focus-visible{
    border: none;
    outline: none;
}
textarea:placeholder-shown{
    font-size: 13px;
}
textarea::placeholder {
    color: #aaa;
}

option.placeholder{
    color: #444;
}

.my-tooltip {
    position:relative;
}

.my-tooltip:hover::before {
    content: attr(data-desc);
    font-size: .7rem;
    color: black;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    background-color: #c589f9;
    top: -25px;
    left: 50%;
    position: absolute;
    z-index: 1000;
    padding: 2px 4px;
    min-width: 100px;
}
.my-tooltip-left:hover::before{
    left: auto;
    right: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
}

.animation *{
    transition: all 300ms ease-in-out;
}