body.EXTENSION{
    width: 300px;
}



.copy-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.relative{
    position: relative;
}

.pass-preview{
    background-color: #444;
}

#pass{
    white-space: normal;
    overflow-wrap: break-word;
}

textarea:focus-visible{
    border: none;
    outline: none;
}
textarea:placeholder-shown{
    font-size: 13px;
}
textarea::placeholder {
    color: #aaa;
}

option.placeholder{
    color: #444;
}

.my-tooltip {
    position:relative;
}
  
.my-tooltip:hover {
    color: #11ACDC;
/* font-size: 1.2rem; */
}
.my-tooltip:hover::before {
    content: attr(data-description);
    font-size: .7rem;
    color: black;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    background-color: #c589f9;
    top: -25px;
    left: 7px;
    position: absolute;
    z-index: 1000;
    padding: 2px 4px;
    width: 100px;
}